.container {
  width: fit-content;
  margin: 44px auto;
  background-color: #1a1b21;
  border-radius: 10px 10px 10px 10px;
}

.portrait {
  object-fit: cover;
  object-position: 0% 0%;
  width: 317px;
  height: 317px;
  border-radius: 10px 10px 0px 0px;
}
