.cardTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.cardTitle > h3 {
  font-size: 12px;
  color: #f3bf99;
}

.cardTitle > p {
  font-size: 10px;
  margin-top: 5px;
  color: #dcdcdc;
}
